{% extends 'base.html' %}

{% block content %}
    <strong>
        <a href="{% url 'create' %}" style="text-decoration: none; color: black; font-size: 26px; background-color: black; color: white">
            Write
        </a>
    </strong>
    <hr>
    <h2>Beomlog Categories</h2>
    <ul class="category">
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <hr>
    <div class="posts">
        {% for object in object_list %}
            {% include '_post.html' %}
        {% endfor %}
    </div>
{% endblock %}