{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create' %}"
       style="text-decoration: none; color: black; font-size: 26px;">
        <button type="button" style="font-size: 20px;">Write</button>
    </a>
    <hr>
    <h2>Beomlog Categories</h2>
    <ul class="category">
        {% for category in categories %}
            <li>
                <a href="{% url 'home' %}?category={{ category.id }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <div class="posts">
        {% for object in object_list %}
            {% include '_post.html' %}
        {% endfor %}
    </div>
{% endblock %}